* { font-family: sans-serif; } 

.ll-main-menu{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ECECEC;
    overflow-y: auto;
}

.ll-main-menu a{
    display: block;
    text-decoration: none;
    color: #a0b5d7;
    cursor: pointer;
    padding: 10px 0px;
    outline: 0;
    font-size: 13px;
    color: #707070;
    font-weight: bold;
    margin: 4px;
    position: relative;
}

.ll-main-menu a:hover{
    background-color: #DADADA;
    border-radius: 4px;

}

.ll-main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0px; 
    box-sizing: border-box;
}

/** Level 1 */
.ll-main-menu > ul > li > a{
    padding-left: 22px;
}
/** Level 2 */
.ll-main-menu > ul > li > ul > li > a{
    padding-left: 22px;
}

/** Level 3 */
.ll-main-menu > ul > li > ul > li > ul > li > a{
    padding-left: 35px;
}

.ll-main-menu > ul > li > ul{
    padding-left: 20px;
}

.ll-main-menu > ul > li > ul, 
.ll-main-menu > ul > li > ul > li > ul {
    display: none;
}
.ll-main-menu > ul > li > ul.open, 
.ll-main-menu > ul > li > ul > li > ul.open{
    display: block;
}

.icon-plus::after{
    content: "+";
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 2px;
    top: 8px;
}
.icon-minus::after{
    content: "-";
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 4px;
    top: 8px;
}
