
.simple-menu-js{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ECECEC;
    overflow-y: auto;
}

.simple-menu-js section {
    padding: 5px 10px;
}

.simple-menu-js section form label{
    font-size: 11px;
    color: gray;
}

.simple-menu-js section form #searchMenu{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
    padding: 4px 6px;
    color: #636363;
    background: #fcfcfc;
    height: 30px;
}

.simple-menu-js a{
    display: block;
    text-decoration: none;
    color: #a0b5d7;
    cursor: pointer;
    padding: 10px 0px;
    outline: 0;
    font-size: 13px;
    color: #707070;
    font-weight: bold;
    margin: 4px;
    position: relative;
}

.simple-menu-js a:hover{
    background-color: #DADADA;
    border-radius: 4px;

}

.simple-menu-js ul{
    list-style: none;
    margin: 0;
    padding: 0px; 
    box-sizing: border-box;
}

/** Level 1 */
.simple-menu-js > ul > li > a{
    padding-left: 22px;
}
/** Level 2 */
.simple-menu-js > ul > li > ul > li > a{
    padding-left: 22px;
}

/** Level 3 */
.simple-menu-js > ul > li > ul > li > ul > li > a{
    padding-left: 35px;
}

.simple-menu-js > ul > li > ul{
    padding-left: 20px;
}

.simple-menu-js > ul > li > ul, 
.simple-menu-js > ul > li > ul > li > ul {
    display: none;
}
.simple-menu-js > ul > li > ul.open, 
.simple-menu-js > ul > li > ul > li > ul.open{
    display: block;
}

.icon-plus::after{
    content: "+";
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 2px;
    top: 8px;
}
.icon-minus::after{
    content: "-";
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 4px;
    top: 8px;
}

@media screen and (max-width: 450px) {
    nav.simple-menu-js{
        width: 100%;
    }    
    nav.simple-menu-js a {
        font-size: 14px;
    }
}

